/**
 *
 * Container Variables
 *
 */

$containerRegular: 750px;
$containerNarrow: 500px;
$containerNarrower: 400px;
$containerWide: 900px;
$containerWider: 960px;

$gutter-smallest: 8px;
$gutter-smaller: 16px;
$gutter-small: 24px;
$gutter-medium: 32px;
$gutter-large: 48px;
$gutter-larger: 64px;
$gutter-largest: 92px;
